#abilities {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  background: $third;
  .title {
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 64px;
  }
  .card {
    height: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    .ability-card {
      text-align: center;
      .card-title {
        font-size: 36px;
        color: rgb(0, 0, 0);
      }
      .card-icon {
        i {
          font-size: 96px;
          &::before {
            transition: 0.5s;
          }
          &:hover {
            &::before {
              transform: scale(1.2);
            }
          }
        }
      }
      .card-text {
        font-size: 18px;
        line-height: 2rem;
      }
    }
  }
}
