* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: white !important;
}

:root {
  scroll-padding-top: 3rem;
}

*::-webkit-scrollbar{
  width: 16px;
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #4F4F4F;
  border-radius: 8px;
  height: 56px;
  border: 4px solid transparent !important;
  background-clip: content-box;
}

.scroll {
  transition: all 0.5s;
  .minebg {
    width: 1200px !important;
    height: 500px !important;
    border-radius: 10px;
    background: url(../assets/library.png)no-repeat center/cover !important;
  }
  .circleGroup {
    width: 1200px !important;
    height: 500px !important;
  }
  .titleText {
    color: #fff !important;
  }
}

.navScroll {
  opacity: 1;
  background-color: $primary !important;
}
